<article class="file">
  <div class="progress" [class.fade-out]="pctg == '100%'">
    <span [style.width]="pctg"></span>
  </div>
  <div class="content">
    <span class="name">{{ name }}</span>
  </div>
  <div class="still-working" *ngIf="streamEnded">
    <span>still working</span>
  </div>
  <div class="file-size" *ngIf="!isUploading">
    <span>{{ filesize(size) }}</span>
  </div>
  <div class="actions" *ngIf="!isUploading">
    <div class="dropdown-wrapper">
      <i class="fa fa-ellipsis-v"></i>
      <div class="dropdown">
        <a class="item" href="{{ canShareLink }}" target="_blank"><span>Share via CanShare <i class="fa fa-share-alt"></i></span></a>
        <a class="item" href="{{ ipfsLink }}" target="_blank"><span>View PDF <i class="fa fa-external-link-alt"></i></span></a>
        <span class="item copy-{{ipfsHash}}">Copy file link</span>
        <span class="item text-danger" (click)="info.removeFiles([ipfsHash])">Remove</span>
      </div>
    </div>
  </div>
</article>
