<article class="file">
  <div class="progress" [class.fade-out]="pctg == '100%'">
    <span [style.width]="pctg"></span>
  </div>
  <div class="content">
    <span class="name">{{ name }}</span>
  </div>
  <div class="still-working" *ngIf="streamEnded">
    <span>{{ 'still-working' | translate }}</span>
  </div>
  <div class="file-size" *ngIf="!isUploading">
    <span>{{ filesize(size) }}</span>
  </div>
  <div class="actions" *ngIf="!isUploading">
    <div class="dropdown-wrapper">
      <i class="fa fa-ellipsis-v"></i>
      <div class="dropdown">
        <a class="item" href="{{ canShareLink }}" target="_blank"><span>{{ 'share-via-canshare' | translate }} <i class="fa fa-share-alt"></i></span></a>
        <a class="item" href="{{ ipfsLink }}" target="_blank"><span>{{ 'view-pdf' | translate }} <i class="fa fa-external-link-alt"></i></span></a>
        <span class="item copy-{{ipfsHash}}">{{ copiedText | translate }}</span>
        <span class="item text-danger" (click)="info.removeFiles([ipfsHash])">{{ 'remove' | translate }}</span>
      </div>
    </div>
  </div>
</article>
